.topdiv {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  margin-bottom: 20px;
}
/* .topdiv > input {

} */
.topdiv > input[type="text"],
select {
  width: 30%;
  /* height: 20px; */
  /* width: 100%; */
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}

.showmovie {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showmovie > a {
  text-decoration: none;
}
.showmovie > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* margin: 15px; */
  width: 200px;
  height: 300px;
  color: white;
  /* background-color: #131926; */
  transition: 2s;
  /* color: red; */
}

.showmovie > a > div > img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 1s;
  /* margin-bottom: 10px; */
}
.showmovie > a > div > img:hover {
  height: 100%;
  width: 100%;
}

.showmovie > a > div > p {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}
.rd {
  /* font-weight: lighter; */
  color: red;
  font-weight: 1000;
}
/* .tdiv {
  height: 20%;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.filterbtn > button {
  margin: 10px;
  padding: 12px 20px;
  border: transparent;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
}
.filterbtn > button:hover {
  background-color: rgb(218, 70, 44);
}
